{
 "openapi": "3.0.3",
 "info": {
  "title": "API Banking",
  "version": "",
  "description": "## Gerais\n\nEsta seção reúne erros que poderiam ser retornados por quaisquer endpoints listados na API Banking.\n\n### `RequisicaoInvalida`\n\n* __Significado__: Requisição inválida.\n* __HTTP Status Code__: [ 400 Bad Request ](https://tools.ietf.org/html/rfc7231#section-6.5.1).\n\n### `AcessoNegado`\n\n* __Significado__: Requisição de participante autenticado que viola alguma regra de autorização.\n* __HTTP Status Code__: [ 403 Forbidden ](https://tools.ietf.org/html/rfc7231#section-6.5.3).\n\n### `NaoEncontrado`\n\n* __Significado__: Entidade não encontrada.\n* __HTTP Status Code__: [ 404 Not Found ](https://tools.ietf.org/html/rfc7231#section-6.5.4).\n\n### `PermanentementeRemovido`\n\n* __Significado__: Indica que a entidade existia, mas foi permanentemente removida.\n* __HTTP Status Code__: [ 410 Gone ](https://tools.ietf.org/html/rfc7231#section-6.5.9).\n\n### `ErroInternoDoServidor`\n\n* __Significado__: Condição inesperada ao processar requisição.\n* __HTTP Status Code__: [ 500 Internal Server Error ](https://tools.ietf.org/html/rfc7231#section-6.6.1).\n\n### `ServicoIndisponivel`\n\n* __Significado__: Serviço não está disponível no momento. Serviço solicitado pode estar em manutenção ou fora da janela de funcionamento.\n* __HTTP Status Code__: [ 503 Service Unavailable ](https://tools.ietf.org/html/rfc7231#section-6.6.4).\n\n### `IndisponibilidadePorTempoEsgotado`\n\n* __Significado__: Indica que o serviço demorou além do esperado para retornar.\n* __HTTP Status Code__: [ 504 Gateway Timeout ](https://tools.ietf.org/html/rfc7231#section-6.6.5)."
 },
 "servers": [
  {
   "url": "https://cdpj.partners.bancointer.com.br/banking/v2",
   "description": "Servidor de Produção"
  },
  {
   "url": "https://cdpj-sandbox.partners.uatinter.co/banking/v2",
   "description": "Servidor de Sandbox"
  }
 ],
 "paths": {
  "/extrato": {
   "get": {
    "summary": "Consultar extrato",
    "description": "Método utilizado para consultar o extrato por um período específico. O período máximo entre as datas é de 90 dias.\n\n* Escopo requerido: extrato.read\n* rate limit: <br />\n    * <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/> 10 chamadas por minuto <br />\n    * <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/> 10 chamadas por minuto\n\n*Obs: O [ token ](https://developers.inter.co/references/token#tag/Token/operation/Token) tem validade de 60 minutos e deverá ser reutilizado nas requisições.*\n\n<div class=\"button-div\"> \n  <button class=\"button-yaml\" data-category=\"CODE_EXAMPLE\" data-value=\"consultarExtratoBanking\">\n    <img src=\"/img/icons/recipes.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" />\n    Exemplos de código\n  </button>\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj.partners.bancointer.com.br/banking/v2<span class=\"url\">/extrato</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj-sandbox.partners.uatinter.co/banking/v2<span class=\"url\">/extrato</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n*Obs.: os dados retornados no ambiente **Sandbox** são fictícios. São utilizados apenas para validação da requisição.*\n",
    "tags": [
     "Extrato"
    ],
    "operationId": "Extrato",
    "parameters": [
     {
      "$ref": "#/components/parameters/xContaCorrente"
     },
     {
      "in": "query",
      "name": "dataInicio",
      "required": true,
      "schema": {
       "type": "string",
       "format": "date"
      },
      "description": "Data início da consulta de extrato.\n\nFormato: YYYY-MM-DD\n",
      "example": "2021-01-01"
     },
     {
      "in": "query",
      "name": "dataFim",
      "required": true,
      "schema": {
       "type": "string",
       "format": "date"
      },
      "description": "Data fim da consulta de extrato.\n\nFormato: YYYY-MM-DD\n",
      "example": "2021-01-02"
     }
    ],
    "responses": {
     "200": {
      "description": "Sucesso",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ListaTransacoes"
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/RequisicaoInvalidaExtrato"
     },
     "403": {
      "$ref": "#/components/responses/AcessoNegado"
     },
     "404": {
      "$ref": "#/components/responses/NaoEncontrado"
     },
     "503": {
      "$ref": "#/components/responses/ServicoIndisponivel"
     }
    }
   }
  },
  "/extrato/exportar": {
   "get": {
    "summary": "Recuperar extrato em PDF",
    "description": "Método utilizado para recuperar o extrato em pdf por um período específico. O período máximo entre as datas é de 90 dias.\n\n* Escopo requerido: extrato.read\n* rate limit: <br />\n    * <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/> 10 chamadas por minuto <br />\n    * <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/> 10 chamadas por minuto\n\n*Obs: O [ token ](https://developers.inter.co/references/token#tag/Token/operation/Token) tem validade de 60 minutos e deverá ser reutilizado nas requisições.*\n\n<div class=\"button-div\"> \n  <button class=\"button-yaml\" data-category=\"CODE_EXAMPLE\" data-value=\"recuperarExtratoPdfBanking\">\n    <img src=\"/img/icons/recipes.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" />\n    Exemplos de código\n  </button>\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj.partners.bancointer.com.br/banking/v2<span class=\"url\">/extrato/exportar</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj-sandbox.partners.uatinter.co/banking/v2<span class=\"url\">/extrato/exportar</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n*Obs. 1: os dados retornados no ambiente **Sandbox** são fictícios. São utilizados apenas para validação da requisição.*\n\n*Obs. 2: a data referência será retornada quando a consulta for realizada em um dia não útil. Visto que o saldo não é sensibilizado em dias não úteis, será retornada à data referência do saldo, sendo o último dia útil.*\n",
    "tags": [
     "Extrato"
    ],
    "operationId": "ExtratoExport",
    "parameters": [
     {
      "$ref": "#/components/parameters/xContaCorrente"
     },
     {
      "in": "query",
      "name": "dataInicio",
      "required": true,
      "schema": {
       "type": "string",
       "format": "date"
      },
      "description": "Data inicio da exportação de extrato.\n\nFormato: YYYY-MM-DD\n",
      "example": "2021-01-01"
     },
     {
      "in": "query",
      "name": "dataFim",
      "required": true,
      "schema": {
       "type": "string",
       "format": "date"
      },
      "description": "Data fim da exportação de extrato.\n\nFormato: YYYY-MM-DD\n",
      "example": "2021-01-02"
     }
    ],
    "responses": {
     "200": {
      "description": "Arquivo",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PdfModel"
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/RequisicaoInvalidaExtrato"
     },
     "403": {
      "$ref": "#/components/responses/AcessoNegado"
     },
     "404": {
      "$ref": "#/components/responses/NaoEncontrado"
     },
     "503": {
      "$ref": "#/components/responses/ServicoIndisponivel"
     }
    }
   }
  },
  "/extrato/completo": {
   "get": {
    "summary": "Consultar extrato enriquecido",
    "description": "Método utilizado para consultar extrato enriquecido com informações\ndetalhadas de cada transação dado um período específico.\n\n\nO período máximo entre as datas é de 90 dias.\n\n\n**Temos dois modos de paginação disponíveis:**\n\n**Paginação Tradicional**<br />\n\n* Utilize os parâmetros `pagina` e `tamanhoPagina` para navegar pelos\nresultados.\n* Ideal para consultas de volumes menores.\n* Máximo de 10.000 transações.\n\n\n**Paginação por Scroll**<br />\n\n* Para consultar grandes volumes com mais de 10.000 transações no\nperíodo.\n* Utilize os parâmetros `scrollEnabled` e `scrollId`.\n* Navegação mais eficiente para grandes volumes de dados sem as\nlimitações da paginação tradicional.\n\nCaracterísticas da paginação por scroll:\n\n* Máximo de 10.000 transações por página<br />\n* Apenas um scroll ativo por conta corrente<br />\n* Expira automaticamente após 6 minutos de inatividade<br />\n* Encerramento automático quando retornar `hasMore: false`<br />\n\n<details style=\"background-color: #FEF3ED; border: 1px solid #FF8C00;\nborder-radius: 4px; padding: 8px; margin: 8px 0;\">\n  <summary>Como usar o Scroll</summary>\n\n1. **Iniciar Scroll**: Envie `scrollEnabled: true` na primeira\nrequisição\n\n<details style=\"background-color: #F5E6D6; border: 1px solid #FF8C00;\nborder-radius: 4px; padding: 8px; margin: 8px 0;\">\n  <summary>Exemplo de iniciação</summary>\n\nA resposta com scroll trará a quantidade de transações definida em\n`tamanhoPagina` e  dois novos campos: `hasMore` e `scrollId`.\n\n```bash\ncurl -X GET \\\n'https://cdpj.partners.bancointer.com.br/banking/v2/extrato/completo' \\\n-G \\\n-d 'dataInicio=2026-01-01' \\\n-d 'dataFim=2026-02-10' \\\n-d 'tamanhoPagina=10000' \\\n-d 'scrollEnabled=true' \\\n-H 'x-inter-conta-corrente: 12345678'\n\n# Resposta inicial:\n# {\n#   \"totalElementos\": 25000,\n#   \"numeroDeElementos\": 10000,\n#   \"scrollId\": \"550e8400-e29b-41d4-a716-446655440000\",\n#   \"hasMore\": true,\n#   \"transacoes\": [... 10000 primeiras transações]\n# }\n```\n</details>\n\n2. **Continuar Scroll**: Use o `scrollId` retornado na requisição\nsubsequente.\n\n<details style=\"background-color: #F5E6D6; border: 1px solid #FF8C00;\nborder-radius: 4px; padding: 8px; margin: 8px 0;\">\n  <summary>Exemplo continuação</summary>\n\nEnvie o `scrollId` retornado para solicitar a próxima página do extrato.\nEnquanto `hasMore` = true as chamadas enviando o `scrollId` continuam\nbuscando as páginas subsequentes.\n\n```bash\ncurl -X GET \\\n'https://cdpj.partners.bancointer.com.br/banking/v2/extrato/completo' \\\n-G \\\n-d 'dataInicio=2026-01-01' \\\n-d 'dataFim=2026-02-10' \\\n-d 'scrollId=550e8400-e29b-41d4-a716-446655440000' \\\n-H 'x-inter-conta-corrente: 12345678'\n\n# 2. Resposta intermediária\n# {\n#   \"totalElementos\": 25000,\n#   \"numeroDeElementos\": 10000,\n#   \"scrollId\": \"550e8400-e29b-41d4-a716-446655440000\",\n#   \"hasMore\": true,\n#   \"transacoes\": [... 10000 transações subsequentes]\n# }\n```\n</details>\n\n3. **Finalizar**: Quando `hasMore: false`, não há mais transações.\n\n<details style=\"background-color: #F5E6D6; border: 1px solid #FF8C00;\nborder-radius: 4px; padding: 8px; margin: 8px 0;\">\n  <summary>Exemplo fim do scroll</summary>\n\nNa última página será retornado hasMore = false, indicando que as\ntransações do período selecionado terminaram. Nesse momento o scrollId\né automaticamente expirado.\n\n```bash\ncurl -X GET \\\n'https://cdpj.partners.bancointer.com.br/banking/v2/extrato/completo' \\\n-G \\\n-d 'dataInicio=2026-01-01' \\\n-d 'dataFim=2026-02-10' \\\n-d 'scrollId=550e8400-e29b-41d4-a716-446655440000' \\\n-H 'x-inter-conta-corrente: 12345678'\n\n# 3. Resposta final\n# {\n#   \"totalElementos\": 25000,\n#   \"numeroDeElementos\": 5000,\n#   \"hasMore\": false,\n#   \"transacoes\": [... 5000 últimas transações]\n# }\n```\n</details>\n</details>\n</details>\n\n* Escopo requerido: extrato.read\n* rate limit: <br />\n    * <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/> 10 chamadas por minuto <br />\n    * <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/> 10 chamadas por minuto\n\n*Obs: O [ token ](\nhttps://developers.inter.co/references/token#tag/Token/operation/Token)\ntem validade de 60 minutos e deverá ser reutilizado nas requisições.*\n\n<div class=\"button-div\">\n  <button class=\"button-yaml\" data-category=\"CODE_EXAMPLE\" data-value=\"consultarExtratoEnriquecidoBanking\">\n    <img src=\"/img/icons/recipes.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" />\n    Exemplos de código\n  </button>\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj.partners.bancointer.com.br/banking/v2<span class=\"url\">/extrato/completo</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj-sandbox.partners.uatinter.co/banking/v2<span class=\"url\">/extrato/completo</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n*Obs.: os dados retornados no ambiente **Sandbox** são fictícios. São utilizados apenas para validação da requisição.*\n",
    "tags": [
     "Extrato"
    ],
    "operationId": "ExtratoComplete",
    "parameters": [
     {
      "$ref": "#/components/parameters/xContaCorrente"
     },
     {
      "in": "query",
      "name": "dataInicio",
      "schema": {
       "type": "string",
       "format": "date"
      },
      "required": true,
      "description": "Data inicio da exportação de extrato.\n\nFormato: YYYY-MM-DD\n",
      "example": "2022-06-12"
     },
     {
      "in": "query",
      "name": "dataFim",
      "schema": {
       "type": "string",
       "format": "date"
      },
      "required": true,
      "description": "Data fim da exportação de extrato.\n\nFormato: YYYY-MM-DD\n",
      "example": "2022-07-14"
     },
     {
      "in": "query",
      "name": "pagina",
      "required": false,
      "schema": {
       "type": "integer",
       "default": 0,
       "minimum": 0
      },
      "description": "Posição da página na lista de movimentações.<br />\n**Apenas para paginação tradicional**.\n",
      "example": "0"
     },
     {
      "in": "query",
      "name": "tamanhoPagina",
      "required": false,
      "schema": {
       "type": "integer",
       "default": 50,
       "maximum": 10000
      },
      "description": "Tamanho da página na lista de movimentações.<br />\n**Para paginação tradicional**: Define o tamanho da página\natual.<br />\n**Para scroll**: Define o tamanho de cada página do scroll.<br />\nMáximo de 10.000 registros por página em ambos os modos.\n",
      "example": "5"
     },
     {
      "in": "query",
      "name": "tipoOperacao",
      "example": "D",
      "description": "values:\n  * `D` - Débito(Saída)\n  * `C` - Crédito(Entrada)\n",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "D",
        "C"
       ]
      }
     },
     {
      "in": "query",
      "name": "tipoTransacao",
      "example": "PIX, CAMBIO, ESTORNO, INVESTIMENTO, TRANSFERENCIA, PAGAMENTO, BOLETO_COBRANCA, OUTROS",
      "description": "transação vinculada a movimentacao",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "in": "query",
      "$ref": "#/components/parameters/xInterScrollEnabled"
     },
     {
      "in": "query",
      "$ref": "#/components/parameters/xInterScrollId"
     }
    ],
    "responses": {
     "200": {
      "description": "Sucesso. O formato da resposta varia dependendo do modo de\npaginação utilizado, **padrão** ou **scroll**\n",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "$ref": "#/components/schemas/ListaTransacoesCompletaPadrao"
          },
          {
           "$ref": "#/components/schemas/ListaTransacoesCompletaScroll"
          }
         ]
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/RequisicaoInvalidaExtratoCompleto"
     },
     "403": {
      "$ref": "#/components/responses/AcessoNegado"
     },
     "404": {
      "$ref": "#/components/responses/NaoEncontrado"
     },
     "503": {
      "$ref": "#/components/responses/ServicoIndisponivel"
     }
    }
   }
  },
  "/saldo": {
   "get": {
    "summary": "Consultar saldo",
    "description": "Método utilizado para consultar o saldo por um período específico.\n\n* Escopo requerido: extrato.read\n* rate limit: <br />\n    * <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/> 10 chamadas por minuto <br />\n    * <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/> 10 chamadas por minuto\n\n*Obs: O [ token ](https://developers.inter.co/references/token#tag/Token/operation/Token) tem validade de 60 minutos e deverá ser reutilizado nas requisições.*\n\n<div class=\"button-div\"> \n  <button class=\"button-yaml\" data-category=\"CODE_EXAMPLE\" data-value=\"consultarSaldoBanking\">\n    <img src=\"/img/icons/recipes.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" />\n    Exemplos de código\n  </button>\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj.partners.bancointer.com.br/banking/v2<span class=\"url\">/saldo</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj-sandbox.partners.uatinter.co/banking/v2<span class=\"url\">/saldo</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n*Obs.: os dados retornados no ambiente **Sandbox** são fictícios. São utilizados apenas para validação da requisição.*\n",
    "tags": [
     "Saldo"
    ],
    "operationId": "Saldo",
    "parameters": [
     {
      "$ref": "#/components/parameters/xContaCorrente"
     },
     {
      "in": "query",
      "name": "dataSaldo",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      },
      "description": "Data de consulta para o saldo posicional.\n\nFormato: YYYY-MM-DD\n\nObs: Caso uma data não seja informada, será utilizada a data atual, e os valores retornados serão: o saldo atual (disponível), \no bloqueado em cheque, o bloqueado judicialmente, o bloqueado administrativo e o limite, até o momento da consulta. \nCaso seja informada uma data, o retorno será somente o valor do saldo naquele dia (disponível). Se a data for a atual, \no valor do saldo até o momento da consulta.\n",
      "example": "2021-01-01"
     }
    ],
    "responses": {
     "200": {
      "description": "Sucesso",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Saldo"
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/RequisicaoInvalidaSaldo"
     },
     "403": {
      "$ref": "#/components/responses/AcessoNegado"
     },
     "404": {
      "$ref": "#/components/responses/NaoEncontrado"
     },
     "503": {
      "$ref": "#/components/responses/ServicoIndisponivel"
     }
    }
   }
  },
  "/pagamento": {
   "post": {
    "summary": "Incluir pagamento com código de barras",
    "description": "\nMétodo para inclusão de um pagamento imediato ou agendamento do\npagamento de boleto, convênio ou tributo com código de barras.\n\n\n**Importante**: Dependendo das configurações da conta, este pagamento\npode exigir aprovação manual antes da execução.<br />\nAs configurações de aprovação podem ser ajustadas pelo usuário master\nvia Internet Banking. Menu Superior > Aprovar > Gestão de Aprovações.\n\n* Escopo requerido: pagamento-boleto.write\n* Rate limite: <br />\n  * <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/> 120 chamadas por minuto <br />\n  * <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/> 10 chamadas por minuto\n\n*Obs: O [ token ](https://developers.inter.co/references/token#tag/Token/operation/Token) tem validade de 60 minutos e deverá ser reutilizado nas requisições.*\n\n<div class=\"button-div\"> \n  <button class=\"button-yaml\" data-category=\"CODE_EXAMPLE\" data-value=\"incluirPagamentoComCodigoBarrasBanking\">\n    <img src=\"/img/icons/recipes.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" />\n    Exemplos de código\n  </button>\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/>\n    <img src=\"https://img.shields.io/badge/POST-blue\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj.partners.bancointer.com.br/banking/v2<span class=\"url\">/pagamento</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/>\n    <img src=\"https://img.shields.io/badge/POST-blue\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj-sandbox.partners.uatinter.co/banking/v2<span class=\"url\">/pagamento</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\nPara o ambiente do **Sandbox**, poderão ser utilizados os seguintes códigos de barras:\n* 03395988500000666539201493990000372830030102\n* 82670000000653301602023123106000000002830894\n",
    "tags": [
     "Pagamento"
    ],
    "operationId": "pagarBoleto",
    "parameters": [
     {
      "$ref": "#/components/parameters/xContaCorrente"
     }
    ],
    "requestBody": {
     "$ref": "#/components/requestBodies/EfetuarPagamentoBody"
    },
    "responses": {
     "200": {
      "description": "Sucesso",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/EfetuarPagamentoResponse"
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/RequisicaoInvalidaPagamento"
     },
     "401": {
      "$ref": "#/components/responses/NaoAutorizado"
     },
     "403": {
      "$ref": "#/components/responses/AcessoNegado"
     },
     "404": {
      "$ref": "#/components/responses/NaoEncontrado"
     },
     "406": {
      "$ref": "#/components/responses/NaoAceito"
     },
     "409": {
      "$ref": "#/components/responses/Conflito"
     }
    }
   },
   "get": {
    "summary": "Buscar pagamentos",
    "description": "\nMétodo para obter uma coleção de pagamentos de boletos.\n\n* Escopo requerido: pagamento-boleto.read\n* Rate limite: <br />\n  * <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/> 120 chamadas por minuto <br />\n  * <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/> 10 chamadas por minuto\n\n*Obs: O [ token ](https://developers.inter.co/references/token#tag/Token/operation/Token) tem validade de 60 minutos e deverá ser reutilizado nas requisições.*\n\n<div class=\"button-div\"> \n  <button class=\"button-yaml\" data-category=\"CODE_EXAMPLE\" data-value=\"buscarPagamentosBanking\">\n    <img src=\"/img/icons/recipes.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" />\n    Exemplos de código\n  </button>\n</div>\n\n<div class=\"swagger-link-container\"> \n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj.partners.bancointer.com.br/banking/v2<span class=\"url\">/pagamento</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj-sandbox.partners.uatinter.co/banking/v2<span class=\"url\">/pagamento</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\nPara o ambiente do **Sandbox**, poderão ser utilizados os seguintes códigos de barras:\n* 03395988500000666539201493990000372830030102\n* 82670000000653301602023123106000000002830894\n",
    "tags": [
     "Pagamento"
    ],
    "operationId": "buscarInformacoesPagamentos",
    "parameters": [
     {
      "$ref": "#/components/parameters/xContaCorrente"
     },
     {
      "name": "codBarraLinhaDigitavel",
      "in": "query",
      "description": "Código de barras ou Linha digitável do boleto",
      "schema": {
       "type": "string",
       "minLength": 44,
       "maxLength": 48,
       "example": 6.539000353864661e+46
      }
     },
     {
      "name": "codigoTransacao",
      "in": "query",
      "description": "Código de transação UUID",
      "schema": {
       "type": "string",
       "minLength": 36,
       "maxLength": 36,
       "example": "a928f403-0076-419b-9c99-432d52083d0a"
      }
     },
     {
      "name": "dataInicio",
      "in": "query",
      "description": "Data inicio, em acordo com o campo \"filtrarDataPor\"\n\nFormato aceito: YYYY-MM-DD\n\n* O campo dataInicio é opcional, mas, caso seja informado, o campo dataFim se torna obrigatório para determinar o intervalo da busca.\n\n* Caso data inicio e fim seja nula, por default será consultado os últimos 30 dias por data de inclusão.\n\n* Período máximo entre as datas inicio e fim é de 90 dias.\n",
      "schema": {
       "type": "string"
      },
      "example": "2022-08-11"
     },
     {
      "name": "dataFim",
      "in": "query",
      "description": "Data Fim, em acordo com o campo \"filtrarDataPor\"\n\n* O campo dataFim é opcional, mas, caso seja informado, o campo dataInicio se torna obrigatório para determinar o intervalo da busca.\n\nFormato aceito: YYYY-MM-DD\n",
      "schema": {
       "type": "string"
      },
      "example": "2022-08-12"
     },
     {
      "name": "filtrarDataPor",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "INCLUSAO",
        "PAGAMENTO",
        "VENCIMENTO"
       ],
       "default": "INCLUSAO"
      },
      "description": "Os filtros de data inicial e data final se aplicarão a:\n* `INCLUSAO` - Data da operação que foi solicitado o pagamento do título. (Default)\n* `PAGAMENTO` - Data em que foi efetuado o pagamento do título\n* `VENCIMENTO` - Data do vencimento do título de pagamento.\n"
     }
    ],
    "responses": {
     "200": {
      "description": "Sucesso",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/InformacoesPagamento"
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/RequisicaoInvalidaPagamento"
     },
     "500": {
      "$ref": "#/components/responses/ServicoIndisponivel"
     }
    }
   }
  },
  "/pagamento/darf": {
   "post": {
    "summary": "Incluir pagamento de DARF",
    "description": "\nMétodo para inclusão de um pagamento imediato de DARF sem código de\nbarras.\n\n\n**Importante**: Dependendo das configurações da conta, este pagamento\npode exigir aprovação manual antes da execução.<br />\nAs configurações de aprovação podem ser ajustadas pelo usuário master\nvia Internet Banking. Menu Superior > Aprovar > Gestão de Aprovações.\n\n* Escopo requerido: pagamento-darf.write\n* Rate limite: <br />\n  * <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/> 10 chamadas por minuto <br />\n  * <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/> 10 chamadas por minuto\n\n*Obs: O [ token ](https://developers.inter.co/references/token#tag/Token/operation/Token) tem validade de 60 minutos e deverá ser reutilizado nas requisições.*\n\n<div class=\"button-div\"> \n  <button class=\"button-yaml\" data-category=\"CODE_EXAMPLE\" data-value=\"incluirPagamentoDarfBanking\">\n    <img src=\"/img/icons/recipes.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" />\n    Exemplos de código\n  </button>\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/>\n    <img src=\"https://img.shields.io/badge/POST-blue\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj.partners.bancointer.com.br/banking/v2<span class=\"url\">/pagamento/darf</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/>\n    <img src=\"https://img.shields.io/badge/POST-blue\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj-sandbox.partners.uatinter.co/banking/v2<span class=\"url\">/pagamento/darf</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n",
    "tags": [
     "Pagamento"
    ],
    "operationId": "pagamentosDarf",
    "parameters": [
     {
      "$ref": "#/components/parameters/xContaCorrente"
     }
    ],
    "requestBody": {
     "$ref": "#/components/requestBodies/DarfRequestBody"
    },
    "responses": {
     "200": {
      "description": "Sucesso",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/DarfResponse"
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/RequisicaoInvalidaIncluirDarf"
     },
     "401": {
      "$ref": "#/components/responses/NaoAutorizado"
     },
     "403": {
      "$ref": "#/components/responses/AcessoNegado"
     },
     "404": {
      "$ref": "#/components/responses/NaoEncontrado"
     },
     "500": {
      "$ref": "#/components/responses/ServicoIndisponivel"
     }
    }
   },
   "get": {
    "summary": "Buscar pagamentos de DARF",
    "description": "\nMétodo para obter informações de pagamento de DARF.\n\n* Escopo requerido: pagamento-boleto.read\n* Rate limite: <br />\n  * <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/> 120 chamadas por minuto <br />\n  * <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/> 10 chamadas por minuto\n\n*Obs: O [ token ](https://developers.inter.co/references/token#tag/Token/operation/Token) tem validade de 60 minutos e deverá ser reutilizado nas requisições.*\n\n<div class=\"button-div\"> \n  <button class=\"button-yaml\" data-category=\"CODE_EXAMPLE\" data-value=\"buscarPagamentosDarfBanking\">\n    <img src=\"/img/icons/recipes.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" />\n    Exemplos de código\n  </button>\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj.partners.bancointer.com.br/banking/v2<span class=\"url\">/pagamento/darf</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj-sandbox.partners.uatinter.co/banking/v2<span class=\"url\">/pagamento/darf</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n",
    "tags": [
     "Pagamento"
    ],
    "operationId": "buscarInformacoesPagamentoDarf",
    "parameters": [
     {
      "$ref": "#/components/parameters/xContaCorrente"
     },
     {
      "name": "codigoSolicitacao",
      "in": "query",
      "description": "Código de solicitação UUID",
      "schema": {
       "type": "string",
       "minLength": 36,
       "maxLength": 36,
       "example": "a928f403-0076-419b-9c99-432d52083d0a"
      }
     },
     {
      "name": "codigoReceita",
      "in": "query",
      "description": "Código da receita",
      "schema": {
       "type": "string",
       "example": "0211"
      }
     },
     {
      "name": "dataInicio",
      "in": "query",
      "description": "Data inicio, em acordo com a data de pagamento da DARF.\n\n* O campo dataInicio é opcional, mas, caso seja informado, o campo dataFim se torna obrigatório para determinar o intervalo da busca.\n\n* Caso data inicio ou fim seja nula, por default será consultado os últimos 30 dias por data de inclusão.\n\nFormato aceito: YYYY-MM-DD\n",
      "schema": {
       "type": "string",
       "format": "date"
      },
      "example": "2022-08-11"
     },
     {
      "name": "dataFim",
      "in": "query",
      "description": "Data Fim, em acordo com a data de pagamento da DARF.\n\n* O campo dataFim é opcional, mas, caso seja informado, o campo dataInicio se torna obrigatório para determinar o intervalo da busca.\n\nFormato aceito: YYYY-MM-DD\n",
      "schema": {
       "type": "string",
       "format": "date"
      },
      "example": "2022-08-12"
     }
    ],
    "responses": {
     "200": {
      "description": "Sucesso",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/InformacoesPagamentoDarf"
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/RequisicaoInvalidaBuscarDarf"
     },
     "401": {
      "$ref": "#/components/responses/NaoAutorizado"
     },
     "403": {
      "$ref": "#/components/responses/AcessoNegado"
     },
     "404": {
      "$ref": "#/components/responses/NaoEncontrado"
     },
     "500": {
      "$ref": "#/components/responses/ServicoIndisponivel"
     }
    }
   }
  },
  "/pagamento/lote": {
   "post": {
    "summary": "Incluir pagamentos em lote",
    "description": "\nMétodo para inclusão de um lote de pagamentos.\n\n* Escopo requerido: pagamento-lote.write\n* Rate limite: <br />\n  * <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/> 10 chamadas por minuto <br />\n  * <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/> 10 chamadas por minuto\n\n*Obs: O [ token ](https://developers.inter.co/references/token#tag/Token/operation/Token) tem validade de 60 minutos e deverá ser reutilizado nas requisições.*\n\n<div class=\"button-div\"> \n  <button class=\"button-yaml\" data-category=\"CODE_EXAMPLE\" data-value=\"incluirPagamentosEmLoteBanking\">\n    <img src=\"/img/icons/recipes.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" />\n    Exemplos de código\n  </button>\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/>\n    <img src=\"https://img.shields.io/badge/POST-blue\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj.partners.bancointer.com.br/banking/v2<span class=\"url\">/pagamento/lote</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/>\n    <img src=\"https://img.shields.io/badge/POST-blue\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj-sandbox.partners.uatinter.co/banking/v2<span class=\"url\">/pagamento/lote</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\nPara o ambiente do **Sandbox**, poderão ser utilizados os seguintes códigos de barras:\n* 03395988500000666539201493990000372830030102\n* 82670000000653301602023123106000000002830894\n",
    "tags": [
     "Pagamento"
    ],
    "operationId": "pagamentosLote",
    "parameters": [
     {
      "$ref": "#/components/parameters/xContaCorrente"
     }
    ],
    "requestBody": {
     "$ref": "#/components/requestBodies/PagarLoteRequestBody"
    },
    "responses": {
     "202": {
      "description": "Sucesso",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PagarLoteResponse"
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/RequisicaoInvalidaPagamento"
     },
     "401": {
      "$ref": "#/components/responses/NaoAutorizado"
     },
     "403": {
      "$ref": "#/components/responses/AcessoNegado"
     },
     "404": {
      "$ref": "#/components/responses/NaoEncontrado"
     },
     "500": {
      "$ref": "#/components/responses/ServicoIndisponivel"
     }
    }
   }
  },
  "/pagamento/lote/{idLote}": {
   "get": {
    "summary": "Buscar lote de pagamentos",
    "description": "\nMétodo para obter informações de um lote de pagamentos.\n\n* Escopo requerido: pagamento-lote.read\n* Rate limite: <br />\n  * <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/> 20 chamadas por minuto <br />\n  * <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/> 10 chamadas por minuto\n\n*Obs: O [ token ](https://developers.inter.co/references/token#tag/Token/operation/Token) tem validade de 60 minutos e deverá ser reutilizado nas requisições.*\n\n<div class=\"button-div\"> \n  <button class=\"button-yaml\" data-category=\"CODE_EXAMPLE\" data-value=\"buscarLotePagamentosBanking\">\n    <img src=\"/img/icons/recipes.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" />\n    Exemplos de código\n  </button>\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj.partners.bancointer.com.br/banking/v2<span class=\"url\">/pagamento/lote/{idLote}</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj-sandbox.partners.uatinter.co/banking/v2<span class=\"url\">/pagamento/lote/{idLote}</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n",
    "tags": [
     "Pagamento"
    ],
    "operationId": "buscarInformacoesPagamentoLote",
    "parameters": [
     {
      "$ref": "#/components/parameters/xContaCorrente"
     },
     {
      "$ref": "#/components/parameters/idLoteParam"
     }
    ],
    "responses": {
     "200": {
      "description": "Sucesso",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ObterLoteResponse"
        }
       }
      }
     },
     "404": {
      "$ref": "#/components/responses/NaoEncontrado"
     }
    }
   }
  },
  "/pagamento/{codigoTransacao}": {
   "delete": {
    "summary": "Cancelar agendamento do pagamento",
    "description": "\nMétodo utilizado para cancelar o agendamento do pagamento de um boleto.\n\n* Escopo requerido: pagamento-boleto.write\n* Rate limite: <br />\n  * <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/> 20 chamadas por minuto <br />\n  * <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/> 10 chamadas por minuto\n\n*Obs: O [ token ](https://developers.inter.co/references/token#tag/Token/operation/Token) tem validade de 60 minutos e deverá ser reutilizado nas requisições.*\n\n<div class=\"button-div\"> \n  <button class=\"button-yaml\" data-category=\"CODE_EXAMPLE\" data-value=\"cancelarAgendamentoPagamentoBanking\">\n    <img src=\"/img/icons/recipes.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" />\n    Exemplos de código\n  </button>\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/>\n    <img src=\"https://img.shields.io/badge/DELETE-red\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj.partners.bancointer.com.br/banking/v2<span class=\"url\">/pagamento/{codigoTransacao}</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/>\n    <img src=\"https://img.shields.io/badge/DELETE-red\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj-sandbox.partners.uatinter.co/banking/v2<span class=\"url\">/pagamento/{codigoTransacao}</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n",
    "tags": [
     "Pagamento"
    ],
    "operationId": "cancelarAgendamentoBoleto",
    "parameters": [
     {
      "$ref": "#/components/parameters/xContaCorrente"
     },
     {
      "$ref": "#/components/parameters/CodigoTransacao"
     }
    ],
    "responses": {
     "204": {
      "description": "Sucesso"
     },
     "404": {
      "$ref": "#/components/responses/NaoEncontrado"
     },
     "422": {
      "$ref": "#/components/responses/EntidadeImprocessavel"
     },
     "500": {
      "$ref": "#/components/responses/ServicoIndisponivel"
     }
    }
   }
  },
  "/pix": {
   "post": {
    "summary": "Incluir Pagamento Pix",
    "description": "\nMétodo para inclusão de um pagamento/transferência Pix utilizando\ndados bancários, chave ou código Copia e Cola.\n\n**Importante**: Dependendo das configurações da conta, este pagamento\npode exigir aprovação manual antes da execução.<br />\nAs configurações de aprovação podem ser ajustadas pelo usuário master\nvia Internet Banking. Menu Superior > Aprovar > Gestão de Aprovações.\n\n* Escopo requerido: pagamento-pix.write\n* Rate limite: <br />\n  * <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/> 60 chamadas por minuto (Limitado a 1 chamada por segundo) <br />\n  * <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/> 10 chamadas por minuto\n\n*Obs: O [ token ](https://developers.inter.co/references/token#tag/Token/operation/Token) tem validade de 60 minutos e deverá ser reutilizado nas requisições.*\n\n<div class=\"button-div\"> \n  <button class=\"button-yaml\" data-category=\"CODE_EXAMPLE\" data-value=\"incluirPagamentoPixBanking\">\n    <img src=\"/img/icons/recipes.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" />\n    Exemplos de código\n  </button>\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/>\n    <img src=\"https://img.shields.io/badge/POST-blue\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj.partners.bancointer.com.br/banking/v2<span class=\"url\">/pix</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/>\n    <img src=\"https://img.shields.io/badge/POST-blue\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj-sandbox.partners.uatinter.co/banking/v2<span class=\"url\">/pix</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n",
    "tags": [
     "Pix Pagamento"
    ],
    "operationId": "realizarPagamentoPix",
    "parameters": [
     {
      "$ref": "#/components/parameters/xIdIdempotente"
     },
     {
      "$ref": "#/components/parameters/xContaCorrente"
     }
    ],
    "requestBody": {
     "$ref": "#/components/requestBodies/PagamentoPixRequestBody"
    },
    "responses": {
     "200": {
      "description": "Pagamento realizado com sucesso",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PagamentoPixResponse"
        },
        "examples": {
         "retornoAguardandoAprovacao": {
          "$ref": "#/components/examples/PagamentoPixResponseAguardandoAprovacao"
         },
         "retornoEfetivado": {
          "$ref": "#/components/examples/PagamentoPixResponseEfetivado"
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/RequisicaoInvalidaIncluirPix"
     },
     "401": {
      "$ref": "#/components/responses/NaoAutorizado"
     },
     "403": {
      "$ref": "#/components/responses/AcessoNegado"
     },
     "404": {
      "$ref": "#/components/responses/NaoEncontrado"
     },
     "422": {
      "$ref": "#/components/responses/ErroValidacao"
     },
     "500": {
      "$ref": "#/components/responses/ServicoIndisponivel"
     }
    }
   }
  },
  "/pix/{codigoSolicitacao}": {
   "get": {
    "summary": "Consultar Pagamento Pix",
    "description": "\nMétodo para consulta de um pagamento/transferência Pix utilizando o codigo solicitação.\n\n<strong>O período máximo para consulta é de 90 dias.</strong>\n\n* Escopo requerido: pagamento-pix.read\n* Rate limite: <br />\n  * <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/> 20 chamadas por minuto <br />\n  * <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/> 10 chamadas por minuto\n\n*Obs: O [ token ](https://developers.inter.co/references/token#tag/Token/operation/Token) tem validade de 60 minutos e deverá ser reutilizado nas requisições.*\n\n<div class=\"button-div\"> \n  <button class=\"button-yaml\" data-category=\"CODE_EXAMPLE\" data-value=\"consultarPagamentoPixBanking\">\n    <img src=\"/img/icons/recipes.svg\" alt=\"Ícone\" width=\"24\" height=\"24\"/>\n    Exemplos de código\n  </button>\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj.partners.bancointer.com.br/banking/v2<span class=\"url\">/pix/{codigoSolicitacao}</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj-sandbox.partners.uatinter.co/banking/v2<span class=\"url\">/pix/{codigoSolicitacao}</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n",
    "tags": [
     "Pix Pagamento"
    ],
    "operationId": "consultarPagamentoPix",
    "parameters": [
     {
      "$ref": "#/components/parameters/CodigoSolicitacao"
     },
     {
      "$ref": "#/components/parameters/xContaCorrente"
     }
    ],
    "responses": {
     "200": {
      "description": "Consulta realizada com sucesso",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ConsultaPixAsyncResponse"
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/RequisicaoInvalidaConsultarPix"
     },
     "401": {
      "$ref": "#/components/responses/NaoAutorizado"
     },
     "403": {
      "$ref": "#/components/responses/AcessoNegado"
     },
     "404": {
      "$ref": "#/components/responses/NaoEncontrado"
     },
     "422": {
      "$ref": "#/components/responses/ErroValidacao"
     },
     "500": {
      "$ref": "#/components/responses/ServicoIndisponivel"
     }
    }
   }
  },
  "/webhooks/{tipoWebhook}": {
   "put": {
    "summary": "Criar webhook",
    "description": "\nMétodo destinado a criar um webhook para receber notificações (callbacks). O tipo de notificação recebida depende do \"tipo webhook\" (sessão PATH PARAMS)\nselecionado no cadastro. Para cada tipo será necessário um cadastro em separado.\n\nCaso o servidor de webhook retorne erro de recebimento do callback, serão realizadas até 4 tentativas com intervalos de 5, 10, 30 e 60 minutos.\n\n* Escopo requerido: webhook-banking.write\n* <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/> 10 chamadas por minuto <br />\n* <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/> 10 chamadas por minuto\n\n*Obs: O [ token ](https://developers.inter.co/references/token#tag/Token/operation/Token) tem validade de 60 minutos e deverá ser reutilizado nas requisições.*\n\n<div class=\"button-div\"> \n  <button class=\"button-yaml\" data-category=\"CODE_EXAMPLE\" data-value=\"criarWebhookBanking\">\n    <img src=\"/img/icons/recipes.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" />\n    Exemplos de código\n  </button>\n  <button class=\"button-yaml\" data-category=\"VALIDATE_WEBHOOK\" data-value=''>\n    <img src=\"/img/icons/webhook.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" />\n    Validar webhook\n  </button>\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/>\n    <img src=\"https://img.shields.io/badge/PUT-purple\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj.partners.bancointer.com.br/banking/v2<span class=\"url\">/webhooks/{tipoWebhook}</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/>\n    <img src=\"https://img.shields.io/badge/PUT-purple\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj-sandbox.partners.uatinter.co/banking/v2<span class=\"url\">/webhooks/{tipoWebhook}</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n",
    "operationId": "putWebhookBanking",
    "tags": [
     "Webhook"
    ],
    "parameters": [
     {
      "$ref": "#/components/parameters/tipoWebhookPath"
     },
     {
      "$ref": "#/components/parameters/xContaCorrente"
     }
    ],
    "requestBody": {
     "$ref": "#/components/requestBodies/WebhookRequestBody"
    },
    "callbacks": {
     "pixPagamentoList": {
      "{$request.body#/webhookUrl/pix-pagamento}": {
       "summary": "Retorno de callbacks para o tipoWebhook pix-pagamento.",
       "post": {
        "parameters": [
         {
          "in": "header",
          "name": "x-conta-corrente",
          "schema": {
           "type": "string",
           "pattern": "^[1-9][0-9]*$",
           "example": "13525622"
          },
          "description": "Conta corrente relacionada ao callback. Enviar apenas números(incluindo o dígito), e não enviar zeros a esquerda."
         }
        ],
        "requestBody": {
         "content": {
          "application/json": {
           "schema": {
            "type": "array",
            "items": {
             "$ref": "#/components/schemas/CallbackPixPagamentoModel"
            }
           },
           "examples": {
            "CallbackPixPagamentoChave": {
             "$ref": "#/components/examples/CallbackPixPagamentoChave"
            },
            "CallbackPixPagamentoDadosBancarios": {
             "$ref": "#/components/examples/CallbackPixPagamentoDadosBancarios"
            }
           }
          }
         }
        },
        "responses": {
         "200": {
          "description": "Notificação recebida com sucesso"
         }
        }
       }
      }
     },
     "pagamentoBoletoList": {
      "{$request.body#/webhookUrl/boleto-pagamento}": {
       "summary": "Retorno de callbacks para o tipoWebhook boleto-pagamento.",
       "post": {
        "parameters": [
         {
          "in": "header",
          "name": "x-conta-corrente",
          "schema": {
           "type": "string",
           "pattern": "^[1-9][0-9]*$",
           "example": "13525622"
          },
          "description": "Conta corrente relacionada ao callback. Enviar apenas números(incluindo o dígito), e não enviar zeros a esquerda."
         }
        ],
        "requestBody": {
         "content": {
          "application/json": {
           "schema": {
            "type": "array",
            "items": {
             "$ref": "#/components/schemas/CallbackPagamentoBoletoModel"
            }
           },
           "examples": {
            "CallbackPagamentoBoletoRealizado": {
             "$ref": "#/components/examples/CallbackPagamentoBoletoRealizado"
            },
            "CallbackPagamentoBoletoAgendado": {
             "$ref": "#/components/examples/CallbackPagamentoBoletoAgendado"
            },
            "CallbackPagamentoBoletoComErro": {
             "$ref": "#/components/examples/CallbackPagamentoBoletoComErro"
            },
            "CallbackPagamentoBoletoCancelado": {
             "$ref": "#/components/examples/CallbackPagamentoBoletoCancelado"
            }
           }
          }
         }
        },
        "responses": {
         "200": {
          "description": "Notificação recebida com sucesso"
         }
        }
       }
      }
     }
    },
    "responses": {
     "204": {
      "description": "Sucesso"
     },
     "400": {
      "$ref": "#/components/responses/RequisicaoInvalidaIncluirWebhook"
     },
     "503": {
      "$ref": "#/components/responses/ServicoIndisponivel"
     }
    }
   },
   "get": {
    "summary": "Obter webhook cadastrado",
    "description": "\nObtém o webhook cadastrado, caso exista.\n\n* Escopo requerido: webhook-banking.read\n* <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/> 10 chamadas por minuto <br />\n* <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/> 10 chamadas por minuto\n\n*Obs: O [ token ](https://developers.inter.co/references/token#tag/Token/operation/Token) tem validade de 60 minutos e deverá ser reutilizado nas requisições.*\n\n<div class=\"button-div\"> \n  <button class=\"button-yaml\" data-category=\"CODE_EXAMPLE\" data-value=\"obterWebhookBanking\">\n    <img src=\"/img/icons/recipes.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" />\n    Exemplos de código\n  </button>\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj.partners.bancointer.com.br/banking/v2<span class=\"url\">/webhooks/{tipoWebhook}</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj-sandbox.partners.uatinter.co/banking/v2<span class=\"url\">/webhooks/{tipoWebhook}</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n",
    "tags": [
     "Webhook"
    ],
    "operationId": "getWebhookBanking",
    "parameters": [
     {
      "$ref": "#/components/parameters/tipoWebhookPath"
     },
     {
      "$ref": "#/components/parameters/xContaCorrente"
     }
    ],
    "responses": {
     "200": {
      "description": "Objeto de retorno do webhoo.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/WebhookModel"
        }
       }
      }
     },
     "404": {
      "$ref": "#/components/responses/NaoEncontrado"
     },
     "500": {
      "$ref": "#/components/responses/ServicoIndisponivel"
     }
    }
   },
   "delete": {
    "summary": "Excluir webhook",
    "description": "\nExclui o webhook.\n\n* Escopo requerido: webhook-banking.write\n* <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/> 10 chamadas por minuto <br />\n* <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/> 10 chamadas por minuto\n\n*Obs: O [ token ](https://developers.inter.co/references/token#tag/Token/operation/Token) tem validade de 60 minutos e deverá ser reutilizado nas requisições.*\n\n<div class=\"button-div\"> \n  <button class=\"button-yaml\" data-category=\"CODE_EXAMPLE\" data-value=\"excluirWebhookBanking\">\n    <img src=\"/img/icons/recipes.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" />\n    Exemplos de código\n  </button>\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/>\n    <img src=\"https://img.shields.io/badge/DELETE-red\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj.partners.bancointer.com.br/banking/v2<span class=\"url\">/webhooks/{tipoWebhook}</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/>\n    <img src=\"https://img.shields.io/badge/DELETE-red\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj-sandbox.partners.uatinter.co/banking/v2<span class=\"url\">/webhooks/{tipoWebhook}</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n",
    "operationId": "deleteWebhookBanking",
    "tags": [
     "Webhook"
    ],
    "parameters": [
     {
      "$ref": "#/components/parameters/tipoWebhookPath"
     },
     {
      "$ref": "#/components/parameters/xContaCorrente"
     }
    ],
    "responses": {
     "204": {
      "description": "Sucesso"
     },
     "404": {
      "$ref": "#/components/responses/NaoEncontrado"
     },
     "500": {
      "$ref": "#/components/responses/ServicoIndisponivel"
     }
    }
   }
  },
  "/webhooks/{tipoWebhook}/callbacks": {
   "get": {
    "summary": "Consultar callbacks",
    "description": "\nRetorna as requisições de callbacks ordenadas pela data de disparo (decrescente).\nPermite consultar erros no envio de callbacks.\n\n* Escopo requerido: webhook-banking.read\n* <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/> 10 chamadas por minuto <br />\n* <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/> 10 chamadas por minuto\n\n*Obs: O [ token ](https://developers.inter.co/references/token#tag/Token/operation/Token) tem validade de 60 minutos e deverá ser reutilizado nas requisições.*\n\n<div class=\"button-div\"> \n  <button class=\"button-yaml\" data-category=\"CODE_EXAMPLE\" data-value=\"consultarCallbacksBanking\">\n    <img src=\"/img/icons/recipes.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" />\n    Exemplos de código\n  </button>\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj.partners.bancointer.com.br/banking/v2<span class=\"url\">/webhooks/{tipoWebhook}/callbacks</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj-sandbox.partners.uatinter.co/banking/v2<span class=\"url\">/webhooks/{tipoWebhook}/callbacks</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>",
    "tags": [
     "Webhook"
    ],
    "operationId": "callbacksFilter",
    "parameters": [
     {
      "$ref": "#/components/parameters/tipoWebhookPath"
     },
     {
      "$ref": "#/components/parameters/xContaCorrente"
     },
     {
      "name": "dataHoraInicio",
      "in": "query",
      "required": true,
      "description": "Formato aceito: yyyy-MM-dd'T'HH:mm[:ss][.SSS]XXX",
      "example": "2023-06-01T00:00Z ou 2023-06-01T00:00:00.000Z",
      "x-arch-date-time-pattern": "yyyy-MM-dd'T'HH:mm[:ss][.SSS]XXX",
      "schema": {
       "type": "string",
       "format": "date-time",
       "nullable": false
      }
     },
     {
      "name": "dataHoraFim",
      "description": "Formato aceito: yyyy-MM-dd'T'HH:mm[:ss][.SSS]XXX",
      "in": "query",
      "example": "2023-06-01T00:00Z ou 2023-06-01T00:00:00.000Z",
      "required": true,
      "x-arch-date-time-pattern": "yyyy-MM-dd'T'HH:mm[:ss][.SSS]XXX",
      "schema": {
       "type": "string",
       "format": "date-time",
       "nullable": false
      }
     },
     {
      "name": "pagina",
      "in": "query",
      "schema": {
       "type": "integer",
       "description": "Posição da página na lista de dados",
       "default": 0,
       "nullable": false
      }
     },
     {
      "name": "tamanhoPagina",
      "in": "query",
      "schema": {
       "type": "integer",
       "description": "Tamanho da página",
       "default": 20,
       "maximum": 50,
       "minimum": 10,
       "nullable": false
      }
     },
     {
      "name": "endToEnd",
      "in": "query",
      "schema": {
       "type": "string",
       "description": "EndToEnd do callback, caso queira filtrar as notificações de algum Pix Pagamento específico. **Exclusivo para o PATH PARAMETERS pix-pagamento**."
      }
     },
     {
      "name": "codigoTransacao",
      "in": "query",
      "schema": {
       "type": "string",
       "description": "CodigoTransacao do callback, caso queira filtrar as notificações de algum Pagamento Boleto específico. **Exclusivo para o PATH PARAMETERS boleto-pagamento**."
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Sucesso",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/CallbackAttemptPage"
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/RequisicaoInvalidaConsultarCallback"
     },
     "500": {
      "$ref": "#/components/responses/ServicoIndisponivel"
     }
    }
   }
  },
  "/webhooks/{tipoWebhook}/callbacks/retry": {
   "post": {
    "tags": [
     "Webhook"
    ],
    "summary": "Reenviar callbacks",
    "description": "\nMétodo utilizado para reenviar uma mensagem de callback de um pagamento de boleto ou pagamento pix, através de seu código identificador:\n* <b>boleto-pagamento</b> - codigoTransacao\n* <b>pix-pagamento</b> - codigoSolicitacao\n\nA funcionalidade permite o envio de até 50 codigos identificadores, por tipo de webhook, para o reenvio de seus respectivos callbacks.\n\n* Escopo requerido: webhook-banking.write\n* rate limit: <br />\n    * <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/> 5 chamadas por minuto \n\n*Obs: O [ token ](https://developers.inter.co/references/token#tag/Token/operation/Token) tem validade de 60 minutos e deverá ser reutilizado nas requisições.*\n\n<div class=\"button-div\"> \n  <button class=\"button-yaml\" data-category=\"CODE_EXAMPLE\" data-value=\"reenviarCallbackBankingRecipe\">\n    <img src=\"/img/icons/recipes.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" />\n    Exemplos de código\n  </button>\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/>\n    <img src=\"https://img.shields.io/badge/POST-blue\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj.partners.bancointer.com.br/banking/v2<span class=\"url\">/webhooks/{tipoWebhook}/callbacks/retry</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>",
    "operationId": "retryCallback",
    "servers": [
     {
      "url": "https://cdpj.partners.bancointer.com.br/banking/v2",
      "description": "Servidor de Produção"
     }
    ],
    "parameters": [
     {
      "$ref": "#/components/parameters/tipoWebhookPath"
     },
     {
      "$ref": "#/components/parameters/xContaCorrente"
     }
    ],
    "requestBody": {
     "$ref": "#/components/requestBodies/RetryCallbacksRequest"
    },
    "responses": {
     "200": {
      "description": "Sucesso",
      "content": {
       "aplication/json": {
        "schema": {
         "$ref": "#/components/schemas/RetryCallbackResponse"
        },
        "examples": {
         "exemplo1": {
          "$ref": "#/components/examples/ExemploRetryCallbackResponse"
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/RequisicaoInvalidaRetryCallback"
     },
     "403": {
      "$ref": "#/components/responses/AcessoNegado"
     },
     "404": {
      "$ref": "#/components/responses/NaoEncontrado"
     },
     "500": {
      "$ref": "#/components/responses/ServicoIndisponivel"
     }
    }
   }
  }
 },
 "components": {
  "responses": {
   "RequisicaoInvalidaExtrato": {
    "description": "Requisição com formato inválido.",
    "content": {
     "application/json": {
      "schema": {
       "$ref": "#/components/schemas/Problema"
      },
      "examples": {
       "requisicao-invalida-example": {
        "$ref": "#/components/examples/RequisicaoInvalidaExtratoExample"
       }
      }
     }
    }
   },
   "RequisicaoInvalidaExtratoCompleto": {
    "description": "Requisição com formato inválido.",
    "content": {
     "application/json": {
      "schema": {
       "$ref": "#/components/schemas/Problema"
      },
      "examples": {
       "requisicao-invalida": {
        "$ref": "#/components/examples/RequisicaoInvalidaExtratoExample"
       },
       "scroll-ja-ativo": {
        "$ref": "#/components/examples/ScrollJaAtivoExample"
       },
       "scroll-expirado-inexistente": {
        "$ref": "#/components/examples/ScrollExpiradoExample"
       }
      }
     }
    }
   },
   "RequisicaoInvalidaSaldo": {
    "description": "Requisição com formato inválido.",
    "content": {
     "application/json": {
      "schema": {
       "$ref": "#/components/schemas/Problema"
      },
      "examples": {
       "requisicao-invalida-example": {
        "$ref": "#/components/examples/RequisicaoInvalidaSaldoExample"
       }
      }
     }
    }
   },
   "RequisicaoInvalidaPagamento": {
    "description": "Requisição com formato inválido.",
    "content": {
     "application/json": {
      "schema": {
       "$ref": "#/components/schemas/Problema"
      },
      "examples": {
       "requisicao-invalida-example": {
        "$ref": "#/components/examples/RequisicaoInvalidaPagamentoExample"
       }
      }
     }
    }
   },
   "RequisicaoInvalidaIncluirDarf": {
    "description": "Requisição com formato inválido.",
    "content": {
     "application/json": {
      "schema": {
       "$ref": "#/components/schemas/Problema"
      },
      "examples": {
       "requisicao-invalida-example": {
        "$ref": "#/components/examples/RequisicaoInvalidaIncluirDarfExample"
       }
      }
     }
    }
   },
   "RequisicaoInvalidaBuscarDarf": {
    "description": "Requisição com formato inválido.",
    "content": {
     "application/json": {
      "schema": {
       "$ref": "#/components/schemas/Problema"
      },
      "examples": {
       "requisicao-invalida-example": {
        "$ref": "#/components/examples/RequisicaoInvalidaBuscarDarfExample"
       }
      }
     }
    }
   },
   "RequisicaoInvalidaIncluirPix": {
    "description": "Requisição com formato inválido.",
    "content": {
     "application/json": {
      "schema": {
       "$ref": "#/components/schemas/Problema"
      },
      "examples": {
       "requisicao-invalida-example": {
        "$ref": "#/components/examples/RequisicaoInvalidaIncluirPixExample"
       }
      }
     }
    }
   },
   "RequisicaoInvalidaIncluirWebhook": {
    "description": "Requisição com formato inválido.",
    "content": {
     "application/json": {
      "schema": {
       "$ref": "#/components/schemas/Problema"
      },
      "examples": {
       "requisicao-invalida-example": {
        "$ref": "#/components/examples/RequisicaoInvalidaIncluirWebhookExample"
       }
      }
     }
    }
   },
   "RequisicaoInvalidaConsultarPix": {
    "description": "Requisição com formato inválido.",
    "content": {
     "application/json": {
      "schema": {
       "$ref": "#/components/schemas/Problema"
      },
      "examples": {
       "requisicao-invalida-example": {
        "$ref": "#/components/examples/RequisicaoInvalidaConsultarPixExample"
       }
      }
     }
    }
   },
   "RequisicaoInvalidaConsultarCallback": {
    "description": "Requisição com formato inválido.",
    "content": {
     "application/json": {
      "schema": {
       "$ref": "#/components/schemas/Problema"
      },
      "examples": {
       "requisicao-invalida-example": {
        "$ref": "#/components/examples/RequisicaoInvalidaConsultarCallbackExample"
       }
      }
     }
    }
   },
   "NaoEncontrado": {
    "description": "Recurso solicitado não foi encontrado.",
    "content": {
     "application/json": {
      "schema": {
       "$ref": "#/components/schemas/Problema"
      },
      "examples": {
       "nao-encontrado-example": {
        "$ref": "#/components/examples/NaoEncontradoExample"
       }
      }
     }
    }
   },
   "ErroValidacao": {
    "description": "Erro de validação",
    "content": {
     "application/json": {
      "schema": {
       "$ref": "#/components/schemas/EntidadeNaoProcessavel"
      }
     }
    }
   },
   "AcessoNegado": {
    "description": "Requisição de participante autenticado que viola alguma regra de autorização.",
    "content": {
     "application/json": {
      "schema": {
       "$ref": "#/components/schemas/Problema"
      },
      "examples": {
       "acesso-negado-example": {
        "$ref": "#/components/examples/AcessoNegadoExample"
       }
      }
     }
    }
   },
   "ServicoIndisponivel": {
    "description": "Serviço não está disponível no momento. Serviço solicitado pode estar em manutenção ou fora da janela de funcionamento.",
    "content": {
     "application/json": {
      "schema": {
       "$ref": "#/components/schemas/Problema"
      },
      "examples": {
       "servico-indisponivel-example": {
        "$ref": "#/components/examples/ServicoIndisponivelExample"
       }
      }
     }
    }
   },
   "NaoAutorizado": {
    "description": "Requisição não autorizada.",
    "content": {
     "application/json": {
      "schema": {
       "$ref": "#/components/schemas/Problema"
      },
      "examples": {
       "nao-autorizado-example": {
        "$ref": "#/components/examples/NaoAutorizadoExample"
       }
      }
     }
    }
   },
   "NaoAceito": {
    "description": "Requisição não aceita.",
    "content": {
     "application/json": {
      "schema": {
       "$ref": "#/components/schemas/Problema"
      },
      "examples": {
       "nao-aceito-example": {
        "$ref": "#/components/examples/NaoAceitoExample"
       }
      }
     }
    }
   },
   "Conflito": {
    "description": "Conflito com o recurso do servidor.",
    "content": {
     "application/json": {
      "schema": {
       "$ref": "#/components/schemas/Problema"
      },
      "examples": {
       "conflito-example": {
        "$ref": "#/components/examples/ConflitoExample"
       }
      }
     }
    }
   },
   "FalhaDependencia": {
    "description": "Falha de dependência.",
    "content": {
     "application/json": {
      "schema": {
       "$ref": "#/components/schemas/Problema"
      }
     }
    }
   },
   "EntidadeImprocessavel": {
    "description": "Não foi possível processar a requisição.",
    "content": {
     "application/json": {
      "schema": {
       "$ref": "#/components/schemas/Problema"
      },
      "examples": {
       "entidade-improcessavel-example": {
        "$ref": "#/components/examples/EntidadeImprocessavelExample"
       }
      }
     }
    }
   },
   "RequisicaoInvalidaRetryCallback": {
    "description": "Problemas na requisição.",
    "content": {
     "application/json": {
      "schema": {
       "$ref": "#/components/schemas/Problema"
      },
      "examples": {
       "exemplos1": {
        "$ref": "#/components/examples/RequisicaoInvalidaExampleRetryCallback"
       }
      }
     }
    }
   }
  },
  "parameters": {
   "xIdIdempotente": {
    "in": "header",
    "name": "x-id-idempotente",
    "description": "Id informado para garantir idempotência nos pagamentos Pix. Representado de acordo com a [RFC4122](https://www.rfc-editor.org/rfc/rfc4122)",
    "schema": {
     "type": "string",
     "pattern": "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
    }
   },
   "xContaCorrente": {
    "name": "x-conta-corrente",
    "in": "header",
    "description": "Conta corrente que será utilizada na operação. Necessário somente quando a aplicação estiver associada a mais de uma conta corrente. Enviar apenas números(incluindo o dígito), e não enviar zeros a esquerda.",
    "schema": {
     "type": "string",
     "pattern": "^[1-9][0-9]*$"
    }
   },
   "idLoteParam": {
    "required": true,
    "in": "path",
    "name": "idLote",
    "schema": {
     "type": "string",
     "minLength": 24,
     "maxLength": 24
    }
   },
   "tipoWebhookPath": {
    "name": "tipoWebhook",
    "required": true,
    "in": "path",
    "schema": {
     "$ref": "#/components/schemas/TipoWebhookEnum"
    }
   },
   "CodigoTransacao": {
    "name": "codigoTransacao",
    "in": "path",
    "required": true,
    "schema": {
     "type": "string",
     "pattern": "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
    }
   },
   "CodigoSolicitacao": {
    "name": "codigoSolicitacao",
    "in": "path",
    "required": true,
    "description": "Codigo único da transaçao",
    "schema": {
     "type": "string",
     "format": "uuid"
    }
   },
   "xInterScrollEnabled": {
    "name": "scrollEnabled",
    "in": "query",
    "description": "Opcional, habilita o modo de paginação scroll para grandes volumes de transações.\nUse `true` para iniciar um novo scroll. É permitido apenas um scroll ativo  por conta.",
    "schema": {
     "type": "string",
     "enum": [
      "true"
     ]
    }
   },
   "xInterScrollId": {
    "name": "scrollId",
    "in": "query",
    "description": "ID do scroll, use este parâmetro para continuar a paginação. O scrollId expira automaticamente após hasMore retornar`false` ou 6 minutos.",
    "schema": {
     "type": "string",
     "format": "uuid"
    },
    "example": "550e8400-e29b-41d4-a716-446655440000"
   }
  },
  "schemas": {
   "EfetuarPagamento": {
    "type": "object",
    "required": [
     "codBarraLinhaDigitavel",
     "valorPagar",
     "dataVencimento"
    ],
    "properties": {
     "codBarraLinhaDigitavel": {
      "type": "string",
      "description": "Código de barras ou linha digitável.",
      "example": "07797000000000000004501008460019310001802680"
     },
     "valorPagar": {
      "type": "string",
      "description": "Valor a ser pago.\n",
      "example": "26.80"
     },
     "dataPagamento": {
      "type": "string",
      "description": "Data para efetivar o pagamento. Se não informada, o pagamento será feito no mesmo dia.\nFormato aceito: YYYY-MM-DD\n",
      "example": "2023-08-18"
     },
     "dataVencimento": {
      "type": "string",
      "description": "Data de vencimento do título.\nFormato aceito: YYYY-MM-DD\n",
      "example": "2021-07-27"
     },
     "cpfCnpjBeneficiario": {
      "type": "string",
      "pattern": "^[0-9]{11}$|^[0-9]{14}$",
      "description": "CPF/CNPJ do beneficiário! Caso informado, será realizada a validação do campo em questão. Formato aceito: 12345678912345\n",
      "example": "12345678912345"
     }
    }
   },
   "EfetuarPagamentoResponse": {
    "title": "EfetuarPagamentoResponse",
    "type": "object",
    "properties": {
     "quantidadeAprovadores": {
      "type": "integer",
      "format": "int32",
      "example": 2
     },
     "dataAgendamento": {
      "type": "string",
      "example": "2019-10-10 13:00:00"
     },
     "statusPagamento": {
      "$ref": "#/components/schemas/SituacaoPagamento"
     },
     "codigoTransacao": {
      "example": "8bbdede4-35db-4ec9-b652-e176841e62c8",
      "type": "string"
     }
    }
   },
   "SituacaoPagamento": {
    "type": "string",
    "enum": [
     "EMPROCESSAMENTO",
     "AGENDADO_CANCELADO",
     "AGUARDANDO_APROVACAO",
     "APROVADO",
     "CANCELADO",
     "AGENDADO",
     "REALIZADO",
     "ERRO",
     "APROVACAO_EXPIRADA",
     "REPROVADO",
     "NAO_COMPENSADO"
    ]
   },
   "BoletoResponse": {
    "title": "DadosBoleto",
    "type": "object",
    "properties": {
     "beneficiario": {
      "$ref": "#/components/schemas/Pessoa"
     },
     "pagador": {
      "$ref": "#/components/schemas/Pessoa"
     },
     "valorNominal": {
      "type": "number",
      "format": "double",
      "example": 120.5
     },
     "desconto": {
      "type": "number",
      "format": "double",
      "example": 10
     },
     "multa": {
      "type": "number",
      "format": "double",
      "example": 13.2
     },
     "juros": {
      "type": "number",
      "format": "double",
      "example": 3
     },
     "valorPagar": {
      "type": "number",
      "format": "double",
      "example": 120.5
     },
     "valorMinimo": {
      "type": "number",
      "format": "double",
      "example": 50
     },
     "valorMaximo": {
      "type": "number",
      "format": "double",
      "example": 1500
     },
     "vencimento": {
      "type": "string",
      "format": "date",
      "example": "2030-05-10"
     },
     "statusPagamento": {
      "$ref": "#/components/schemas/StatusPagamento"
     },
     "convenio": {
      "$ref": "#/components/schemas/Convenio"
     },
     "dataLimitePagamento": {
      "example": "2019-10-10",
      "format": "date",
      "type": "string"
     },
     "instituicaoEmissora": {
      "example": "Banco Inter",
      "type": "string"
     },
     "pagamentoParcial": {
      "example": false,
      "type": "boolean"
     },
     "totalEncargos": {
      "type": "number",
      "format": "double",
      "example": 20
     },
     "permiteAgendamento": {
      "example": false,
      "type": "boolean"
     },
     "linhaDigitavel": {
      "example": "846600000026266702962017910100130004000625169925",
      "type": "string"
     },
     "codigoBarra": {
      "example": "81670000001283647972020063000000000294909999",
      "type": "string"
     },
     "codigoEspecie": {
      "example": 31,
      "type": "string"
     },
     "pagamentoBloqueado": {
      "example": false,
      "type": "boolean"
     },
     "boletoVencido": {
      "example": false,
      "type": "boolean"
     },
     "horarioLimitePagamento": {
      "example": "16:00",
      "type": "string"
     },
     "alerta": {
      "$ref": "#/components/schemas/Alerta"
     },
     "codigoBanco": {
      "example": "077",
      "type": "string"
     },
     "situacaoTituloPagamento": {
      "example": "Aberto",
      "type": "string"
     }
    }
   },
   "Pessoa": {
    "title": "Pessoa",
    "type": "object",
    "properties": {
     "nome": {
      "description": "Nome Pessoa/Empresa",
      "example": "Banco Loren",
      "type": "string"
     },
     "cpfCnpj": {
      "description": "CPF/CNPJ",
      "example": 27395669000186,
      "type": "string"
     },
     "nomeFantasia": {
      "example": "banco inter",
      "type": "string"
     },
     "razaoSocial": {
      "example": "Banco Loren",
      "type": "string"
     }
    }
   },
   "StatusPagamento": {
    "title": "StatusPagamento",
    "type": "object",
    "properties": {
     "pago": {
      "description": "Se o título já foi pago ou não",
      "example": true,
      "type": "boolean"
     },
     "data": {
      "description": "Data do pagamento (String formatada)",
      "example": "2019-03-27",
      "type": "string"
     },
     "permitePagamentoMultiplo": {
      "description": "Se permite mais de um pagamento",
      "example": true,
      "type": "boolean"
     },
     "valor": {
      "example": 133,
      "type": "number",
      "format": "double"
     }
    }
   },
   "Convenio": {
    "title": "Convenio",
    "type": "object",
    "properties": {
     "descricao": {
      "description": "Descrição",
      "example": 123,
      "type": "string"
     },
     "debitoAutomatico": {
      "description": "Se o título esta habilitado para cadastro debito automatico",
      "example": true,
      "type": "boolean"
     },
     "segmento": {
      "description": "Segmento do Convênio",
      "example": "ENERGIA_ELETRICA_GAS",
      "type": "string"
     },
     "codigoEmpresa": {
      "description": "Código da empresa",
      "type": "string"
     },
     "tipoConvenio": {
      "description": "Tipo de convênio configurado",
      "example": "IS2B",
      "type": "string"
     },
     "abrangenciaConvenio": {
      "description": "Abrangência do convênio. Nacional ou Municipal",
      "example": "NACIONAL",
      "type": "string"
     },
     "codigoMunicipio": {
      "description": "Código do Município",
      "example": "123456",
      "type": "string"
     }
    }
   },
   "InformacoesPagamento": {
    "title": "InformacoesPagamento",
    "type": "object",
    "properties": {
     "codigoTransacao": {
      "example": "3414f226-36fb-4d87-811e-cfd99911d845",
      "type": "string"
     },
     "codigoBarra": {
      "type": "string",
      "example": 2.3791908400000545e+43
     },
     "tipo": {
      "type": "string",
      "example": "Pagamento Xpto"
     },
     "dataVencimentoDigitada": {
      "type": "string",
      "example": "2019-10-10 13:00:00"
     },
     "dataVencimentoTitulo": {
      "type": "string",
      "example": "2019-10-10 13:00:00"
     },
     "dataInclusao": {
      "type": "string",
      "example": "2019-10-10 13:00:00"
     },
     "dataPagamento": {
      "type": "string",
      "example": "2019-10-10 13:00:00"
     },
     "valorPago": {
      "type": "number",
      "example": 85.9
     },
     "valorNominal": {
      "type": "number",
      "example": 85.9
     },
     "statusPagamento": {
      "$ref": "#/components/schemas/SituacaoPagamento"
     },
     "aprovacoesNecessarias": {
      "type": "number",
      "example": 2,
      "description": "Aprovações necessárias para o pagamento ser aprovado."
     },
     "aprovacoesRealizadas": {
      "type": "number",
      "example": 2,
      "description": "Aprovações já realizadas."
     },
     "cpfCnpjBeneficiario": {
      "type": "string",
      "example": "123456789-01"
     },
     "nomeBeneficiario": {
      "type": "string",
      "example": "João 123"
     },
     "autenticacao": {
      "type": "string",
      "example": 3.1408993599359996e+29
     },
     "nsu": {
      "type": "string",
      "example": "82127399",
      "description": "Número sequencial único, exclusivo para uso no Inter."
     }
    }
   },
   "InformacoesPagamentoDarf": {
    "title": "InformacoesPagamento",
    "type": "object",
    "properties": {
     "codigoSolicitacao": {
      "example": "3414f226-36fb-4d87-811e-cfd99911d845",
      "type": "string"
     },
     "tipoDarf": {
      "type": "string",
      "example": "PRETO"
     },
     "valor": {
      "type": "number",
      "example": 50.96
     },
     "valorMulta": {
      "type": "number",
      "example": 0
     },
     "valorJuros": {
      "type": "number",
      "example": 0
     },
     "valorTotal": {
      "type": "number",
      "example": 50.96
     },
     "tipo": {
      "type": "string",
      "example": "Darf"
     },
     "periodoApuracao": {
      "type": "string",
      "example": "2019-10-10 13:00:00"
     },
     "dataPagamento": {
      "type": "string",
      "example": "2019-10-10 13:00:00"
     },
     "referencia": {
      "type": "string",
      "example": 424562562565
     },
     "dataVencimento": {
      "type": "string",
      "example": "2019-10-10 13:00:00"
     },
     "codigoReceita": {
      "type": "string",
      "example": 190,
      "minLength": 4,
      "maxLength": 4
     },
     "statusPagamento": {
      "$ref": "#/components/schemas/SituacaoPagamento"
     },
     "dataInclusao": {
      "type": "string",
      "example": "2019-10-10 13:00:00"
     },
     "cnpjCpf": {
      "type": "string",
      "example": "84668147010"
     },
     "aprovacoesNecessarias": {
      "type": "integer",
      "example": 4,
      "description": "Aprovações necessárias para o pagamento ser aprovado."
     },
     "aprovacoesRealizadas": {
      "type": "integer",
      "example": 2,
      "description": "Aprovações já realizadas."
     }
    }
   },
   "Alerta": {
    "title": "Alerta",
    "type": "object",
    "properties": {
     "titulo": {
      "description": "Titulo do alerta",
      "example": "Titulo",
      "type": "string"
     },
     "mensagem": {
      "description": "Mensagem do alerta",
      "example": "Mensagem",
      "type": "string"
     }
    }
   },
   "Saldo": {
    "type": "object",
    "properties": {
     "bloqueadoCheque": {
      "type": "number",
      "format": "int64",
      "example": 240.25,
      "description": "Saldo bloqueado (cheque). Retornando apenas quando **não** é informado a \"dataSaldo\" na requisição."
     },
     "disponivel": {
      "type": "number",
      "format": "int64",
      "example": 2850.55,
      "description": "Saldo líquido"
     },
     "bloqueadoJudicialmente": {
      "type": "number",
      "format": "int64",
      "example": 510.35,
      "description": "Saldo bloqueado (justiça). Retornando apenas quando **não** é informado a \"dataSaldo\" na requisição."
     },
     "bloqueadoAdministrativo": {
      "type": "number",
      "format": "int64",
      "example": 510.35,
      "description": "Saldo bloqueado (justiça). Retornando apenas quando **não** é informado a \"dataSaldo\" na requisição."
     },
     "limite": {
      "type": "number",
      "format": "int64",
      "example": 510.35,
      "description": "Limite de credito da conta. Retornando apenas quando **não** é informado a \"dataSaldo\" na requisição."
     },
     "dataReferencia": {
      "type": "string",
      "description": "A data referência será retornada quando a consulta for realizada em um dia não útil. Visto que o saldo não é sensibilizado em dias não úteis, será retornada à data referência do saldo, sendo o último dia útil.",
      "example": "01/01/2024"
     }
    }
   },
   "ListaTransacoes": {
    "type": "object",
    "properties": {
     "transacoes": {
      "type": "array",
      "items": {
       "$ref": "#/components/schemas/TransacaoSimples"
      }
     }
    }
   },
   "ListaTransacoesCompletaPadrao": {
    "type": "object",
    "properties": {
     "totalPaginas": {
      "$ref": "#/components/schemas/totalPaginas"
     },
     "totalElementos": {
      "$ref": "#/components/schemas/totalElementos"
     },
     "ultimaPagina": {
      "$ref": "#/components/schemas/ultimaPagina"
     },
     "primeiraPagina": {
      "$ref": "#/components/schemas/primeiraPagina"
     },
     "tamanhoPagina": {
      "$ref": "#/components/schemas/tamanhoPagina"
     },
     "numeroDeElementos": {
      "$ref": "#/components/schemas/numeroDeElementos"
     },
     "transacoes": {
      "type": "array",
      "items": {
       "allOf": [
        {
         "$ref": "#/components/schemas/TransacaoCompleta"
        }
       ]
      }
     }
    }
   },
   "ListaTransacoesCompletaScroll": {
    "name": "Resposta com Scroll",
    "type": "object",
    "description": "Resposta para consultas usando modo scroll. Retornado quando\nheaders `x-inter-scroll-enabled` ou `x-inter-scroll-id` são utilizados.\n",
    "properties": {
     "totalElementos": {
      "$ref": "#/components/schemas/totalElementos"
     },
     "scrollId": {
      "type": "string",
      "nullable": true,
      "format": "uuid",
      "description": "ID único do scroll para continuar a navegação. Use este valor no\nheader `x-inter-scroll-id` das próximas requisições.\nQuando `hasMore: false`, este campo será `null` indicando que o\nscroll foi finalizado e removido.\n",
      "example": "550e8400-e29b-41d4-a716-446655440000"
     },
     "hasMore": {
      "type": "boolean",
      "description": "Indica se existem mais transações para serem recuperadas. Quando `false`, o scroll é automaticamente removido.",
      "example": true
     },
     "transacoes": {
      "type": "array",
      "items": {
       "allOf": [
        {
         "$ref": "#/components/schemas/TransacaoCompleta"
        }
       ]
      }
     }
    }
   },
   "PdfModel": {
    "type": "object",
    "properties": {
     "pdf": {
      "type": "string",
      "description": "Base64 do PDF"
     }
    }
   },
   "TransacaoSimples": {
    "type": "object",
    "properties": {
     "cpmf": {
      "type": "string"
     },
     "dataEntrada": {
      "type": "string",
      "format": "date"
     },
     "tipoTransacao": {
      "type": "string",
      "description": "Transação vinculada a movimentação\n* `DEBITO_EM_CONTA`\n* `DEPOSITO_BOLETO`\n* `ANTECIPACAO_RECEBIVEIS`\n* `ANTECIPACAO_RECEBIVEIS_CARTAO`\n* `BOLETO_COBRANCA`\n* `CAMBIO`\n* `CASHBACK`\n* `CHEQUE`\n* `ESTORNO`\n* `DOMICILIO_CARTAO`\n* `FINANCIAMENTO`\n* `IMPOSTO`\n* `INTERPAG`\n* `INVESTIMENTO`\n* `JUROS`\n* `MAQUININHA_GRANITO`\n* `MULTA`\n* `OUTROS`\n* `PAGAMENTO`\n* `PIX`\n* `PROVENTOS`\n* `SAQUE`\n* `COMPRA_DEBITO`\n* `DEBITO_AUTOMATICO`\n* `TARIFA`\n* `TRANSFERENCIA`\n"
     },
     "tipoOperacao": {
      "type": "string",
      "description": "Tipo de operação realizada\n* `D` - Débito(Saída)\n* `C` - Crédito(Entrada)\n"
     },
     "valor": {
      "type": "string"
     },
     "titulo": {
      "type": "string"
     },
     "descricao": {
      "type": "string"
     }
    }
   },
   "TransacaoCompleta": {
    "properties": {
     "idTransacao": {
      "type": "string"
     },
     "dataInclusao": {
      "type": "string",
      "format": "date"
     },
     "dataTransacao": {
      "type": "string",
      "format": "date"
     },
     "tipoTransacao": {
      "type": "string",
      "description": "Transação vinculada a movimentação\n* `DEBITO_EM_CONTA`\n* `DEPOSITO_BOLETO`\n* `ANTECIPACAO_RECEBIVEIS`\n* `ANTECIPACAO_RECEBIVEIS_CARTAO`\n* `BOLETO_COBRANCA`\n* `CAMBIO`\n* `CASHBACK`\n* `CHEQUE`\n* `ESTORNO`\n* `DOMICILIO_CARTAO`\n* `FINANCIAMENTO`\n* `IMPOSTO`\n* `INTERPAG`\n* `INVESTIMENTO`\n* `JUROS`\n* `MAQUININHA_GRANITO`\n* `MULTA`\n* `OUTROS`\n* `PAGAMENTO`\n* `PIX`\n* `PROVENTOS`\n* `SAQUE`\n* `COMPRA_DEBITO`\n* `DEBITO_AUTOMATICO`\n* `TARIFA`\n* `TRANSFERENCIA`\n"
     },
     "tipoOperacao": {
      "type": "string",
      "description": "Tipo de operação realizada\n* `D` - Débito(Saída)\n* `C` - Crédito(Entrada)\n"
     },
     "valor": {
      "type": "string"
     },
     "titulo": {
      "type": "string"
     },
     "descricao": {
      "type": "string"
     },
     "numeroDocumento": {
      "type": "string"
     },
     "detalhes": {
      "oneOf": [
       {
        "$ref": "#/components/schemas/DetalhePix"
       },
       {
        "$ref": "#/components/schemas/DetalheBoletoCobranca"
       },
       {
        "$ref": "#/components/schemas/DetalheCashback"
       },
       {
        "$ref": "#/components/schemas/DetalheCheque"
       },
       {
        "$ref": "#/components/schemas/DetalheCompraDebito"
       },
       {
        "$ref": "#/components/schemas/DetalheDepositoBoleto"
       },
       {
        "$ref": "#/components/schemas/DetalheTransferencia"
       },
       {
        "$ref": "#/components/schemas/DetalhePagamento"
       },
       {
        "$ref": "#/components/schemas/DetalheTarifa"
       }
      ]
     }
    }
   },
   "TransacaoCompletaSemDetalhe": {
    "type": "object",
    "allOf": [
     {
      "$ref": "#/components/schemas/TransacaoCompleta"
     }
    ]
   },
   "TransacaoCompletaComDetalhe": {
    "type": "object",
    "allOf": [
     {
      "$ref": "#/components/schemas/TransacaoCompleta"
     }
    ],
    "properties": {
     "detalhes": {
      "type": "object"
     }
    },
    "required": [
     "detalhes"
    ]
   },
   "totalPaginas": {
    "type": "integer",
    "title": "Quantidade total de páginas",
    "description": "Quantidade total de páginas disponíveis para consulta.",
    "minimum": 1,
    "example": 1
   },
   "totalElementos": {
    "type": "integer",
    "format": "int64",
    "title": "Quantidade total de itens",
    "description": "Quantidade total de itens disponíveis de acordo com os parâmetros informados.",
    "minimum": 0
   },
   "ultimaPagina": {
    "type": "boolean",
    "description": "Última página",
    "example": true
   },
   "primeiraPagina": {
    "type": "boolean",
    "description": "Primeira página",
    "example": true
   },
   "tamanhoPagina": {
    "type": "integer",
    "title": "Quantidade de itens por página",
    "description": "Quantidade de registros por página, configurado na requisição.",
    "minimum": 1,
    "example": 20
   },
   "numeroDeElementos": {
    "type": "integer",
    "title": "Quantidade de itens na página atual",
    "description": "Quantidade de registros retornado na página atual.",
    "minimum": 1,
    "required": [
     "TransacaoCompletaComDetalhe"
    ]
   },
   "TransacaoBoletoCobranca": {
    "description": "detalhes de transações de BOLETO_COBRANCA",
    "allOf": [
     {
      "$ref": "#/components/schemas/TransacaoCompleta"
     }
    ],
    "type": "object",
    "properties": {
     "detalhes": {
      "$ref": "#/components/schemas/DetalheBoletoCobranca"
     }
    }
   },
   "TransacaoPagamento": {
    "description": "detalhes de transações de PAGAMENTO",
    "allOf": [
     {
      "$ref": "#/components/schemas/TransacaoCompleta"
     }
    ],
    "type": "object",
    "properties": {
     "detalhes": {
      "$ref": "#/components/schemas/DetalhePagamento"
     }
    }
   },
   "TransacaoPix": {
    "description": "detalhes de transações de PIX",
    "allOf": [
     {
      "$ref": "#/components/schemas/TransacaoCompleta"
     }
    ],
    "type": "object",
    "properties": {
     "detalhes": {
      "$ref": "#/components/schemas/DetalhePix"
     }
    }
   },
   "TransacaoTransferencia": {
    "description": "detalhes de transações de PIX",
    "allOf": [
     {
      "$ref": "#/components/schemas/TransacaoCompleta"
     }
    ],
    "type": "object",
    "properties": {
     "detalhes": {
      "$ref": "#/components/schemas/DetalheTransferencia"
     }
    }
   },
   "TransacaoCashback": {
    "description": "detalhes de transações de CASHBACK",
    "allOf": [
     {
      "$ref": "#/components/schemas/TransacaoCompleta"
     }
    ],
    "type": "object",
    "properties": {
     "detalhes": {
      "$ref": "#/components/schemas/DetalheCashback"
     }
    }
   },
   "TransacaoDepositoBoleto": {
    "description": "detalhes de transações de DEPOSITO_BOLETO",
    "allOf": [
     {
      "$ref": "#/components/schemas/TransacaoCompleta"
     }
    ],
    "type": "object",
    "properties": {
     "detalhes": {
      "$ref": "#/components/schemas/DetalheDepositoBoleto"
     }
    }
   },
   "TransacaoCompraDebito": {
    "description": "detalhes de transações de COMPRA_DEBITO",
    "allOf": [
     {
      "$ref": "#/components/schemas/TransacaoCompleta"
     }
    ],
    "type": "object",
    "properties": {
     "detalhes": {
      "$ref": "#/components/schemas/DetalheCompraDebito"
     }
    }
   },
   "TransacaoCheque": {
    "description": "detalhes de transações de CHEQUE",
    "allOf": [
     {
      "$ref": "#/components/schemas/TransacaoCompleta"
     }
    ],
    "type": "object",
    "properties": {
     "detalhes": {
      "$ref": "#/components/schemas/DetalheCheque"
     }
    }
   },
   "DetalheCheque": {
    "title": "Cheque",
    "properties": {
     "agencia": {
      "type": "string",
      "example": "0072"
     },
     "numeroChequeBancario": {
      "type": "string",
      "example": "000219"
     },
     "contaBancaria": {
      "type": "string",
      "example": ""
     },
     "dataRetorno": {
      "type": "string"
     },
     "motivoRetorno": {
      "type": "string",
      "example": ""
     },
     "descricaoChequeBancario": {
      "type": "string",
      "example": "Cheque Bancário"
     },
     "nomeEmpresa": {
      "type": "string",
      "example": "BCO SANTANDER (BRASIL) S.A"
     },
     "tipoDetalhe": {
      "type": "string",
      "example": "COMPLETE"
     },
[...]
